/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 0.9em;
    line-height: 1.4;
}

/* 
 * see https://wiki.selfhtml.org/wiki/CSS/Eigenschaften/box-sizing#Vererbung_auf_alle_Elemente
 */
html {
    box-sizing: border-box;
}
*, ::before, ::after { 
    box-sizing: inherit;
}

a {
	color: #DF0404; 
}

a:hover {
	text-decoration: none; 
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Justify paragraphs.
 */
p {
    text-align: justify;
}

/*
 * Lists
 */
ul {
	margin: 0;
	padding: 0 0 0 1em;
}

/*
 * buttons
 */
button {
    margin: 10px 10px 10px 0;
    padding: 5px 10px;
    border: solid 1px #DF0404;
	border-radius: 20px; 
    background-color: #DF0404;
    /*font-weight: bold;*/
    text-align: center;
	color: #fff; 
}
button:hover {
	background-color: #fff;
	color: #DF0404; 
}
button:focus {
	border-color: #DF0404;
}

/*
 * tables
 */
table {
	width: 100%;
	border: solid 1px #ccc;
}
table td {
	border-top: solid 1px #ccc;
	border-left: solid 1px #ccc;
	padding: 0 5px;
}
table tr:nth-child(even) td {
	background-color: #F5F5F5;
}
table tr:hover td {
	background-color: #eee;
}
table tr.inactive td {
	background-color: #fdd;
}
table tr.unconfirmed td {
	/*color: #999;*/
	opacity: 0.5;
}

/*
 * forms
 */
form {
	padding: 1%;
}

fieldset {
    border: 0;
    margin: 3% 1%;
	width: 98%;
    padding: 0;
}
legend {
	margin-bottom: 1%;
	font-weight: bold;
}

label {
	cursor: pointer;
	margin-right: 5px;
}
label input {
	margin: 0 5px;
	vertical-align: middle;
}

#sidebar label input {
	margin: 3px 0 0 0; 
}

input, textarea, select, .checkboxgroup {
	padding: 3px 6px;
	border: solid 1px #ccc;
}
input[type='text'], input[type='password'], input[type='file'],
textarea, .checkboxgroup {
	width: 100%;
}
input[type='date'] {
	width: 16ch;
}
input[type='time'] {
	width: 9ch;
}
input[type='number'] {
	text-align: right;
}

form select {
	width: 100%;
}
textarea {
    resize: vertical;
	height: 10em;
}

.checkboxgroup {
	height: 10em;
	overflow: auto;
	background-color: #fff;
}
.checkboxgroup label {
	display: block;
}

form img {
	width: 100%;
	height: auto;
}

/*
 * animations 
 */
@keyframes blinking {
    from {
		background-color: #DF0404;
	}
    to {
		background-color: #fff;
	}
}

.blinking {
	background-color: #DF0404;
	animation-name: blinking;
    animation-duration: 2s;
	animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/*
 * classes
 */
.center {
	text-align: center;
}

.right {
	text-align: right;
}

.bold {
	font-weight: bold;
}

.blue {
	color: #3388ff;
}
.red {
	color: #DF0404;
}

.template {
	display: none !important;
}

.no-data {
	color: #888;
	text-align: center;
}

.pointer {
	cursor: pointer;
}

/***** ajax ****/
#ajax {
	display: none;
	position: fixed;
	width: 100%;
	height:100%;
	background-color: rgba(255,255,255,0.7);
}
#ajax img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
} 

/***** hint ****/
#hint {
    display: none;
    position: fixed;
    left: 30%;
    right: 30%;
    bottom: 5%;
    padding: 5px 10px;
    background-color: rgba(230,0,4,0.5);
    border-radius: 20px;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
	color: #fff; 
}

/***** dialog ****/
#dialog-background {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}
#dialog {
    display: none;
    position: fixed;
	max-height: 85%;
	overflow: auto;
	left: 5%;
	right: 5%;
	top: 9%;
	padding: 0.5%;
	background-color: #fff;
	border: solid 2px rgba(0,0,0,0.4);
	border-radius: 5px;
}
#dialog .message {
    padding: 3%;
}
#dialog .buttonpane {
    border-top: solid 1px #ccc;
    text-align: right;
}

/***** header ****/

#header {
	height: 50px; 
	width: 100%; 
	position: fixed; 
	top: 0; 
	left: 0; 
	background-color: #DF0404;
}

#header img {
    width: auto;
    height: 32px;
    margin: 12px 15px 1%;
	z-index: 2000; 
}

/***** sidebar ****/
#sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    width: 15%;
    overflow: auto;
    padding: 1%;
    background-color: #F5F5F5;
    /*border-right: solid 1px rgba(0,0,0,0.4);*/    
}

#copyright {
	position: absolute;
	left: 5%;
	width: 90%;
	bottom: 1%;
	font-size: 0.7em;
	font-weight: bold;
	text-align: center;
}

#auth, #menu {
    padding: 1%;
}

.menu-item {
    cursor: pointer;
	padding: 3%;
}
.sub-item {
	margin-top: -6%;
	padding-left: 16%;
}
.menu-item:hover {
    color: #DF0404;
}
.menu-item.selected {
    background-color: #ddd;
}

#menu .user {
	font-weight: bold; 
	font-size: 75%; 
	color: #888; 
}

/***** content ****/
#content {
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 0;
    width: 85%;
    overflow: scroll;
    overflow-x: hidden;
    padding: 2%;
}

.section h1 {
	display: inline-block;
}

/***** map ****/
.map {
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}

.map .container {
	z-index: 1000;
	position: absolute;
	padding: 5px;
	overflow: auto;
	background-color: #fff;
	border: solid 2px #888;
	border: solid 2px rgba(128,128,128,0.5);	
	border-radius: 4px;
}

.map .loading {
	display: none;
	position: absolute;
	z-index: 10000;
	height: 100px;
	right: 0;
	left: 0;
	bottom: 10px;
}
.map .loading img {
	top: 50%;
	position: absolute;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
}

#map {
	position: absolute;
	width: 100%;
	height: 100%;
}

.map .layers {
	left: 1%;
	bottom: 1%;
}
.map .layers form {
	margin: 5px 0;
}
.map .layers .fa-refresh {
	color: #080;
	cursor: pointer;
}

/* remove "clear all" buttons */
.leaflet-draw-actions-bottom li:last-child {
    display: none !important;
}

.map .edit {
	top: 1%;
	right: 1%;
	height: 96%;
	overflow: auto;
	width: 33%;
}

.marker {
	width: 2em !important;
	height: 2em !important;
	margin: -1em !important;
	border: solid 2px rgba(255,255,255,0.85);
	border-radius: 50%;
	opacity: 0.5;
}
.marker-new, .marker-score.highlight, .marker-region-highlight {
	opacity: 1;
}
.marker-new {
	background-color: #484;
}
.marker-region {
	background-color: #3388ff;
	border: solid 2px rgba(50,50,255,0.85);
}
.marker-region-highlight {
	background-color: #0033ff;
	border: solid 2px rgba(100,100,255,1);
}
.marker-score {
	background-color: #888;
	box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.5);
}
.marker-score.done {
	background-color: #009644;
}
.marker-score.damaged {
	background-color: #d90000;
}
.marker-score.empty {
	background-color: #fff;
}
.marker-score.feedback0 {
	background-color: #fff;
}
.marker-score.feedback1 {
	background-color: #009644;
}
.marker-score.feedback2 {
	background-color: #6db822;
}
.marker-score.feedback3 {
	background-color: #d9d900;
}
.marker-score.feedback4 {
	background-color: #d99100;
}
.marker-score.feedback5 {
	background-color: #d94800;
}
.marker-score.feedback6 {
	background-color: #d90000;
}

.challengeColor0 { color: #DF0101; border-color: #DF0101; }
.challengeColor1 { color: #0B610B; border-color: #0B610B; }
.challengeColor2 { color: #0000FF; border-color: #0000FF; }
.challengeColor3 { color: #FF8000; border-color: #FF8000; }
.challengeColor4 { color: #FF00FF; border-color: #FF00FF; }
.challengeColor5 { color: #424242; border-color: #424242; }
.challengeColor6 { color: #5E610B; border-color: #5E610B; }
.challengeColor7 { color: #29088A; border-color: #29088A; }
.challengeColor8 { color: #B404AE; border-color: #B404AE; }

/*** chat & contacts ***/
.unread {
	border: solid 1px #DF0404 !important;
}

#conversations {
	box-sizing: border-box;
    background-color: #f5f5f5;
    position: absolute;
    right: 0;
    width: 300px;
    overflow: hidden;
    overflow-y: scroll;
    bottom: 0;
    height: 100%;
    padding: 5px;
}

#chat {
	position: absolute;
    height: 100%;
    overflow: hidden;
    background-color: #f5f5f5;
    top: 0;
    left: 0;
    right: 300px;
}
#chat .messages-scroll {
	position: absolute;
    right: 10px;
    left: 10px;
    top: 10px;
    bottom: 110px;
    padding: 15px;
    overflow: hidden;
    background-color: #fff;
    border: inset 1px #888;
    overflow-y: scroll;
}
#chat .messages-container {
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-start;
}

#chat .messagebox {
	border: solid 1px #888;
	border-radius: 10px;
	padding: 0 10px 5px;
	margin: 5px;
	max-width: 75%;
	
	display: inline-block;
}
#chat .messagebox .meta div {
	display: inline-block;
	font-size: 0.6em;
	color: #888;
}
#chat .messagebox .meta .name {
	font-weight: bold;
}
#chat .messagebox .message {
	font-size: 0.9em;
	line-height: 1.4em;
	word-wrap: break-word;
}
#chat .me {
	background-color: #eee;	
	align-self: flex-end;
	text-align: right;
}
#chat .you {
	background-color: #fff;	
	align-self: flex-start;
	text-align: left;
}
#chat .unsend {
	opacity: 0.5;
}

#chat .user-name {
	opacity: 0.5;
	font-style: italic;
}

#chat .new-message {
	position: absolute;
    z-index: 32000;
    bottom: 10px;
    left: 10px;
    right: 10px;
    height: 100px;
    text-align: left;
}
#chat .new-message textarea {
	display: block;
    margin: 5px 0 10px;
    font-size: 0.9em;
    line-height: 1.5em;
    height: 90px;
    box-sizing: border-box;
    top: 0;
    width: 100%;
    padding-right: 50px;
}
#chat .new-message button {
	display: block;
	margin: 19px 0;
	width: 38px;
	height: 38px;
	top: 0;
	position: absolute;
	right: 12px;
}

.no-boxes {
	text-align: center;
	opacity: 0.7;
	font-style: italic;
}

.contactbox {
	height: 50px;
	border: solid 1px #ddd;
	background-color: #fff;
	overflow: hidden;
	text-align: left;
	position: relative;
	margin: 5px 0;
	cursor: pointer;
}
.contactbox:hover {
	background-color: rgba(255,50,50,0.7);
}
.contactbox .icon {
	width: 40px;
	height: 40px;
	font-size: 23px;
	line-height: 37px;
	border: solid 1px #ddd;
	background-color: #eee;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	margin: 5px;
}
.contactbox .name {
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 60px;
	line-height: 30px;
	font-size: 16px;
	overflow: hidden;
	white-space: nowrap;
	box-sizing: border-box;
	text-overflow: ellipsis;
	width: 99%;
}
.contactbox .info {
	position: absolute;
	left: 0;
	top: 30px;
	padding-left: 60px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 20px;
	font-size: 11px;
	font-style: italic;
	opacity: 0.5;
	width: 99%;
	box-sizing: border-box;
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('desktop first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 500px) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}