/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html, td {
    color: #222;
    font-size: 0.9em;
    line-height: 1.4;
}

/* 
 * see https://wiki.selfhtml.org/wiki/CSS/Eigenschaften/box-sizing#Vererbung_auf_alle_Elemente
 */
html {
    box-sizing: border-box;
}
*, ::before, ::after { 
    box-sizing: inherit;
}

a {
	color: #957fcc;
}

a:hover {
	text-decoration: none; 
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #555;
    color: #ccc;
    text-shadow: none;
}

::selection {
    background: #555;
    color: #ccc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * headings
 */
h4 {
    margin-bottom: 3px;
}

/*
 * Justify paragraphs.
 */
p {
    text-align: justify;
}

/*
 * Lists
 */
ul {
	margin: 0;
	padding: 0 0 0 1em;
}

/*
 * buttons
 */
button {
    margin: 10px 10px 10px 0;
    padding: 5px 10px;
    border: solid 1px #957fcc;
	border-radius: 20px; 
    background-color: #957fcc;
    /*font-weight: bold;*/
    text-align: center;
	color: #fff; 
}
button:hover {
	background-color: #fff;
	color: #957fcc; 
}
button:focus {
	border-color: #957fcc;
}
button[disabled="disabled"], button[disabled="disabled"]:hover {
    background-color: #ddd;
    color: #888;
}
button.cancel {
	opacity: 0.6;
}
button.delete {
    color: #f00;
    border: none;
    background: transparent;
    margin: 0;
    padding: 0 0 0 1%;
    font-style: normal;    
}
button.delete:before {
    content: "❎";
}

/*
 * tables
 */
table {
	width: 100%;
	border: solid 1px #ccc;
}
table td {
	border-top: solid 1px #ccc;
	border-left: solid 1px #ccc;
	padding: 5px;
}
table tr:nth-child(even) td {
	background-color: #F5F5F5;
}
table tr.inactive td {
	background-color: #fdd;
}
table tr:hover td {
	background-color: #eee;
}

table tr.unconfirmed td {
	/*color: #999;*/
	opacity: 0.5;
}

/*
 * .tables, like lists
 */
.table .entry {
	width: 100%;
	border: solid 1px #ccc;
	padding: 0.5em 0.5em 3em 0.5em;
}
.table .entry {
	background-color: #fff;
}
.table .entry:nth-child(even) {
	background-color: #F5F5F5;
}
.table .entry.inactive {
	background-color: #fdd;
}

.table .entry .buttonpane {
	float: right;
}

.table .entry .subprojects {
	margin-left: 50px;
}

/*
 * forms
 */
form {
	padding: 1%;
}

fieldset {
    border: 0;
    margin: 3% 1%;
	width: 98%;
    padding: 0;
}
legend {
	margin-bottom: 1%;
	font-weight: bold;
}

label {
	display: block;
	cursor: pointer;
	margin-right: 5px;
}
label input {
	margin: 0 5px;
	vertical-align: middle;
}

#sidebar label input {
	margin: 3px 0 0 0; 
}

.label-caption {
    font-size: 0.9em;
    padding: 0.5em 0;
}

input, textarea, select, .checkboxgroup {
	padding: 3px 6px;
	border: solid 1px #ccc;
}
input[type='text'], input[type='password'], input[type='file'],
textarea, .checkboxgroup {
	width: 100%;
}
input[type='date'] {
	width: 16ch;
}
input[type='time'] {
	width: 9ch;
}
input[type='number'] {
	text-align: right;
}

[readonly] {
    background-color: #ddd;
    cursor: not-allowed;
}

form select {
	width: 100%;
}

textarea {
    resize: vertical;
	height: 350px;
}
form textarea {
    height: 150px;
}
textarea.code {
	height: 350px;
	font-family: monospace;
	resize: both;
	white-space: pre;
	-moz-tab-size: 4;
	tab-size: 4;
}

.checkboxgroup {
	height: 10em;
	overflow: auto;
	background-color: #fff;
}
.checkboxgroup input:checked + span {
	color: #47994f;
	text-decoration: underline;
}
.checkboxgroup label:hover {
    color: #2b2;
}

form img {
	width: 100%;
	height: auto;
}

/*
 * animations 
 */
@keyframes blinking {
    from {
		background-color: #957fcc;
	}
    to {
		background-color: #fff;
	}
}

.blinking {
	background-color: #957fcc;
	animation-name: blinking;
    animation-duration: 2s;
	animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.expand-button {
	cursor: pointer;
}
.expand-button:hover {
	text-decoration: underline;
}
.expandable {
	overflow: hidden;
	height: 0;
}
.expandable.expanded {
	height: auto;
}

/*
 * classes
 */
.center {
	text-align: center;
}

.right {
	text-align: right;
}

.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}
.underline {
    text-decoration: underline;
}

.small {
	font-size: 0.75em;
}

.blue {
	color: #3388ff;
}
.red {
	color: #ff8080;
}
.greyback, table tr td.greyback {
    background-color: #999;
}

.inline-block {
    display: inline-block;
}

.template {
	display: none !important;
}

.no-data {
	color: #aaa;
	text-align: center;
}

.pointer {
	cursor: pointer !important;
}
.please-wait {
    cursor: wait !important;
}

.pagebreak {
    page-break-before: always;
}
.no-pagebreak {
    page-break-before: avoid;
}

/***** ajax ****/
#ajax {
	display: none;
	position: fixed;
	width: 40px;
	height: 40px;
	top: 5px;
	right: 5px;
}
#ajax img {
	display: block;
	height: 100%;
	width: 100%;
} 

/***** hint ****/
#hint {
    display: none;
    position: fixed;
    left: 30%;
    right: 30%;
    bottom: 5%;
    padding: 5px 10px;
	background-color: #47994f;
    border-radius: 20px;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
	color: #fff; 
}

/***** dialog ****/
#dialog-background {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}
#dialog {
    display: none;
    position: fixed;
	max-height: 85%;
	max-width: 90%;
	min-width: 900px;
	left: 5%;
	top: 9%;
	overflow: auto;
	padding: 0.5%;
	background-color: #fff;
	border: solid 2px rgba(0,0,0,0.4);
	border-radius: 5px;
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
}
#dialog .mainpane {
    padding: 10px;
}
#dialog .buttonpane {
    border-top: solid 1px #ccc;
    text-align: right;
}

/***** menu items ****/

.menu-item {
    cursor: pointer;
}
.menu-item.selected {
    background-color: #957fcc;
}
.menu-item:hover {
    background-color: #c782ff;
}

/***** header ****/

#header {
	height: 50px; 
	width: 100%; 
	padding: 0 2%;
	position: fixed; 
	top: 0; 
	left: 0; 
	background-color: #47994f;
	line-height: 50px;
	vertical-align: middle;
}

#header .logo {
	font-size: 30px;
	text-transform: uppercase;
	text-decoration: underline overline;
	margin-right: 30px;
}

#header .menu-item {
	color: #fff;
	font-weight: bold;
	padding: 10px;
}

/***** sidebar ****/
#sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    width: 15%;
    overflow: auto;
    overflow-x: hidden;
    padding: 1%;
    background-color: #F5F5F5;
    /*border-right: solid 1px rgba(0,0,0,0.4);*/    
}

#copyright {
	position: absolute;
	left: 5%;
	width: 90%;
	bottom: 1%;
	font-size: 0.7em;
	font-weight: bold;
	text-align: center;
}

#auth, #menu, #administration-menu, #user-info {
    padding: 1%;
}

#user-info .description {
	font-weight: bold;
	font-size: 0.7em;
	margin-top: 5px;
	text-decoration: underline;
}

.menu .menu-item {
	padding: 3%;
}
.menu .sub-item {
	margin-top: -6%;
	padding-left: 16%;
}

#menu .user {
	font-weight: bold; 
	font-size: 75%; 
	color: #957fcc; 
}

#menu .project-name {
	font-size: 1.5em;
	word-wrap: break-word;
}

/***** content ****/
#content {
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 0;
    width: 85%;
    overflow: scroll;
    overflow-x: hidden;
    padding: 2%;
}

.section {
	padding-bottom: 100px;
}

.subsection {
	margin-top: 50px;
}

/***** budget *****/
.project-budget .total {
    width: auto;
}

.project-budget form, .project-budget .total {
    cursor: default;
    max-width: 800px;
    border: solid 1px #888;
    margin: 10px auto;
}
.project-budget .one {
    width: 74%;
}
.project-budget .two {
    width: 37%;
}
.project-budget .three {
    width: 25%;
}
.project-budget form h3 {
    border-top: double 4px;
}
.project-budget .currency {
    font-family: monospace;
    font-size: 1.5em;
    width: 20%;
    padding: 5px;
    text-align: right;
}
.project-budget .currency input {
    width: 100%;
    text-align: right;
    font-style: normal;
}

.project-budget .category {
    font-weight: bold;
    border-top: solid 1px #aaa;
    margin-bottom: 40px;
}
.project-budget .category-name {
    width: 77%;
}

.project-budget .cost-center {
    margin-left: 20px;
    font-weight: normal;
    margin-bottom: 15px;
    border-top: dotted 1px #aaa;
    background-color: #eee;
}
.project-budget .add-cost-center {
    margin-left: 20px;
}

.project-budget .position {
    margin-left: 40px;
    font-style: italic;
    background-color: #bbb;
}
.project-budget .position:nth-child(odd) {
    background-color: #ddd;
}
.project-budget .add-position {
    margin-left: 40px;
}

.project-budget .earning-name, .project-budget .earning-detail {
    width: 30%;
}
.project-budget .earning-status {
    width: 13%;
}

/***** administration export *****/
.administration-export .application-data {
    height: 350px;
}


/* ==========================================================================
   Vendor classes
   ========================================================================== */

.trumbowyg-button-pane button {
    margin: 0;
    color: #333;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('desktop first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 500px) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
    
    h3 {
        text-decoration: underline;
    }
    
    tr {
        font-size: 0.75em !important;
        line-height: 0.8em !important;
    }
    
    /* hack for making background-color visible */
    .greyback {
        position: relative;
        overflow: hidden; /* this might not work well in all situations */
    }
    .greyback:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        /* and here it is, the background color */
        border: 99999px #aaa solid;
        z-index: -1;
    }
}